<!DOCTYPE html>
<html lang="en">
<head>
<title>Sublime</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="Sublime project">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="../CSS/bootstrap(1).min.css">
<link href="../CSS/font-awesome.min.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css" href="../CSS/owl.carousel.css">
<link rel="stylesheet" type="text/css" href="../CSS/owl.theme.default.css">
<link rel="stylesheet" type="text/css" href="../CSS/animate.css">
<link rel="stylesheet" type="text/css" href="../CSS/main_styles.css">
<link rel="stylesheet" type="text/css" href="../CSS/responsive.css">
</head>

